<div class="container w-25">
<h1 class="m-5">My to do list</h1>
<ul class="m-5">
<% @tasks.each do |task| %>
<li class="list"><%= link_to task.title, task_path(task) %><%= link_to "Delete",
  destroy_path(task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%></li>
<% end %>
</ul>
<%= link_to "Add a new task", new_task_path%>
</div>
